{% extends 'base.html.twig' %}

{% block title %}Nouveau service{% endblock %}

{# PAGE POUR CREER UN NOUVEAU SERVICE #}

{% block body %}
    <div class="containerPages">

        <div class="pages">
    
            <h1 class="title">Ajouter un nouveau service</h1>

            {# BOUTON pour RETOURNER sur la PAGE INDEX #}
            <a class="btn btn-primary mt-4 mb-4" href="{{ path('app_services_index') }}">Retour</a>
            
            
            {{ include('services/_form.html.twig') }}

        </div>
    </div>
    
    
{% endblock %}
