{% extends 'base.html.twig' %}

{% block title %}Nouveau service{% endblock %}

{% block body %}
    <div class="containerPages">
        <h1 class="title">Ajouter un nouveau service</h1>
        <button class="btn btn-primary mt-4 mb-4">
            <a href="{{ path('app_services_index') }}">Retour</a>
        </button>
        
        {{ include('services/_form.html.twig') }}
    </div>
    
    
{% endblock %}
