{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <div class="containerPages">
        <h1 class="title">Ajouter un nouvel utilisateur</h1>

        <button class="btn btn-primary mt-4 mb-4"><a href="{{ path('app_commerce_user_index') }}">Retour</a></button>

        {{ include('commerce_user/_form.html.twig') }}
    </div>
    

    
    
{% endblock %}
