<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yekrea-form | {% endblock %}</title>
    {# link bootstrapp #}
    <!-- bootstrap CSS only -->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
        crossorigin="anonymous">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <link rel="stylesheet" href="{{ asset("css/style.css") }}">
    {# la fonction twig (asset()) perlmet d'acceter a la racine du dossier "public"
    il accepte en argument le chemin vers le fichier desiré a partir le dossier public#}
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <h1>
    {% block h1 %}{% endblock %}
    </h1>
    {% block body %}
        
    {% endblock %}
    <!-- JavaScript Bundle with Popper -->
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script> 
    <script type="text/javascript" src="{{ asset("js/script.js") }}"></script>
    
    {% block javascripts %}{% endblock %}

</body>
</html>
