{% extends 'base.html.twig' %}

{% block title %}Modifier la commande{% endblock %}

{# PAGE pour MODIFIER les COMMANDES #}
{% block body %}

    <div class="containerPages">

        <div class="pages">
            <h1 class="title">Modifier la commande</h1>

            {# BOUTON pour RETOURNER sur la PAGE INDEX #}
            <a class="btn btn-primary" href="{{ path('app_command_index') }}">Retour</a>

            <div class="containerForm">
                <div class="formulaire">

                    {# FORMULAIRE pour MODIFER la COMMANDE #}
                    {{ include('command/_form.html.twig', {'button_label': 'Modifier'}) }}
                    
                    {# FORMULAIRE pour SUPPRIMER la COMMANDE #}
                    {{ include('command/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
        
    </div>
    
{% endblock %}
