{% extends 'base.html.twig' %}

{% block title %}Modifier la commande{% endblock %}

{% block body %}
    <h1 class="title">Modifier la commande</h1>

    <a class="btn btn-primary" href="{{ path('app_command_index') }}">Retour</a>

    {{ include('command/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('command/_delete_form.html.twig') }}
{% endblock %}
