*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/********************************************       PAGES */
html{
    height: 100vh;
}

/* div => block body */
.base__displayContainer{
    display: flex;
    flex-direction: row;
}
.containerPages{
    /* position: fixed; */
    /* top: 70px; */
    /* left: 300px; */
    /* width: 70%; */
    width: 70vw;
    margin: 0 auto;
    padding-top: 50px;
}

/* titre */

.title{
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

ul li{
    text-decoration: none !important;
}

/* BOUTON valider */

.bouton{
    padding: 10px;
    
    align-self: flex-start;

    font-weight: bold;
    color: white !important;

    background-color: #E5191E !important;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
    
}

/* INPUT TEXTE / EMAIL / PASSWORD */

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=select]{

    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2); 
    border:none;
    width: 300px;
    margin-bottom: 20px;

}

/* *******************************************      LOG IN */


/* container login */

.containerLogIn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

/* Mise en forme commune pour les deux div */

.containerLogIn_block{
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
}

/************* div =>  formulaire de connexion */

.containerLogIn_block--form{

    width: 300px;

    display: flex;
    flex-direction: column;
}

.progress{
    margin-bottom: 20px;
}

/************* div =>  logo YEKREA & SLOGAN */

.containerLogIn_block--logo{
    background-color: #E5191E;
}

img[alt="logo yekrea"]{
    width: 350px;
}

.slogan{
    color: white;

    font-size: 2rem;
}

/* ****************************************************** NAV BARRE */

/* Nav LOGO + Liens */

.sidebar{


    position:sticky;
    top:0;
    height: 100vh;
    width: 250px;

    background-color: #E5191E;
    border-radius: 30px;
}

/* logo YEKREA NAV */

.sidebar header{
    position: relative;
}

/* image logo YEKREA  */

.imgNav{

    padding: 10px 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* div =>  TABLEAU DE BORD */

.dashbord {

    margin: 0;
    padding: 0;

    position: sticky;

    height: 20px;
    width: 250px;

    margin-bottom: 80px;

    text-decoration: none;
    background: #FFF;

    display: flex;
    align-items: center;

}

/* lien "a" => TABLEAU DE BORD */

.dashbord a{
    margin: 0 65px;

    padding: 0 70px;
    color: #000 !important;

    font-size: 14px !important;
    font-weight: bold;
}

/* "ul" (liste) de la barre de navigation + dashboard*/

.menu{

    height: 80%;

}

.menu ul{

    position: sticky;
    padding-left: 0;

}

/* "li" de la barre de navigation + dashbord*/
.menu li a {

    padding: 5px;

    width: 140px;

    text-decoration: none;
    
    display: flex;
    align-items: center;

    color: #FFF;
    
    font-weight: bold;
    font-size: 18px;

}

/* "li" de la barre de navigation SANS le dashbord */

.nav-link{
    padding-left: 40px;
}

/* "a" de la barre de navigation SANS le dashboard*/

.link{

    display: flex;
    align-items: center;

    list-style-type: none;
}

.link:hover{
    background-color: #fff;
    color: #000;
}
.link:active{
    background-color: #000;
    color: #FFF;
}


/* div => bonjour USER  */

.welcome--container{
    position:fixed; 
    top: 10px;
    right: 0;
    padding: 10px;
}




/* ******************************************************  LANDING */


#landing__container a,
#landing__container h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#landing__container{
    background-color: white;
    min-height: 100vh;
    max-width: 1010px;
    margin: 0 auto;
    
}

#landing__title{
    text-align:center;
    padding-top: 20px;
}

#landing__container--user,
#landing__container--admin
{
    width: 90vw;
    min-width: 455px;
    max-width: 1000px;
    margin: 50px auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
    
}

#landing__container--user,
#landing__container--admin
{
    width: 90vw;
    min-width: 300px;
    max-width: 1000px;
    margin: 50px auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.landing__pageBloc{
    height:200px;
    width:200px;
    border-radius: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #E5191E;
    transition: color 0.3s ease, background-color 0.3s ease
}
.landing__pageBloc--a{
    text-decoration:none;
    color : white;

}
.landing__pageBloc:hover{
    background-color: black;
    
}

.landing__pageBloc--a:hover{
    color: white;
}

/* ****************************************************** DashBoard */


#section1__container{
    /* background: aquamarine; */
    min-height: 100vh;
}
.section1__titleSection{
    text-align: center;
    margin-bottom: 50px;
}

#section1__gridContainer{
    border-bottom: #000 solid 1px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    border: 1px red solid;

}
#section1__grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px,250px));
    gap: 0px;
    row-gap: 17px;
    column-gap: 17px;
    justify-content: center;
    max-width: 1120px;
    margin: 0 auto;
}

.section1__lastCommande{
    /* min-height: 199px; */
    /* border: 1px solid navy; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    min-width: 250px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 7px -2px rgb(46 46 46 / 62%);
}

.section1__lastCommande--cardTitle{
    font-size: 1.4rem;
    font-weight: 600 ;
    text-align: center;
}

.section1__lastCommande--cardBtn{
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    border: #000 solide 1px;
    background-color: #ad1216;
    box-shadow: 0px 0px 7px -2px rgb(46 46 46 / 62%);
    
}

#section1__voirCommande{
    margin: 20px auto;
}

.section1__bestVendeur,
.section1__bestCategorie,
.section1__bestProduit
{
    display:flex;
    justify-content: space-around;
    margin: 10px 0
}

.section1__bestCategorie{
    margin-right:44px
}

.section1__bestCategorie--rentable{
    margin-left: 18px;
}

.section1__bestProduit--item,
.section1__bestVender--item
{
    font-weight: 700;
}

.section1__bestProduit--valeur,
.section1__bestVender--valeur
{
    text-align: center;
}



/* ****************************************************** SERVICES */


.containerCard{
    display: flex;
    justify-content: center;
}


/* ********************************************************** RESPONSIVE */

@media screen and (max-width: 800px){

    
    /* container du MAIN */
    .containerPages{
        top: 170px;
        left: 0;
        width: 100%;
    }

    /**********************************************  LOGIN */

    .containerLogIn{
        display: flex;  
        flex-direction: column;
    }
    /***** div =>  FORMULAIRE CONNEXION */

    #containerLogIn_block--form{
        height: 60vh;
        min-height: 400px;
        
    }
    .containerLogIn_block--form{
        width: 300px;
    }

    /****** div =>  logo YEKREA & SLOGAN de la page de CONNEXION */

    .containerLogIn_block--logo{

        height: 20vh;
        min-height: 120px;     

    }

    img[alt="logo yekrea"]{

        width: 230px;
    }

    .slogan{
        font-size: 1.4rem;
    }

    /**************************************************    NAV */

    /* NAV  */
    .sidebar{
        width: 100%;
        height: 150px;
        display: flex;

        flex-direction: column;
        justify-content: center;
        align-items: center;

    
    }
    /* "ul" (liste) de la nav */
    .menu{
        display: flex;
        
    }

    /* "a" (liens) de la NAV + DASHBOARD */
    .menu li a{

        width: 100%;
        padding: 0;
        font-size: 12px;

    }

    /* "a" (liens) de la nav SANS le dashboard */
    .nav-link{
        display: inline-block;
        padding: 8px;
    }
    

    /* dashboard */
    .dashbord{
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        
    }

    /* lien du dashboard */

    .dashbord a{
        margin: 0 ;
        justify-content: center;
        text-align: center;
    }

    /* Logo Yekrea + NAVIGATION */

    .nav--container{
        
        display: flex;
        flex-direction: row;
    }

    /* div => bonjour USER */

    .welcome--container{
        position: absolute;
        top: 10px;
        font-size: 12px;
    }

    /* texte bonjour USER */

    .welcome--container p{
        color: #E5191E;
    }
    /* prénom du user */
    .welcome--container span{
        color: #000 !important;
    }
    .welcome--container a{
        color: #FFF !important;
    }
    .welcome--container svg{
        width:  24px;
    }
}
/* ******************************************************  LANDING */

@media screen and (max-width:680px) {
    #landing__container--user,
    #landing__container--admin
    {
        width:100vw;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    
    .landing__pageBloc{
        height:150px;
        width:150px;
        margin: 10px 0;
    }

}
/* ******************************************************  dashborad*/
@media screen and (max-width:465px) {
    #section1__grid{
        margin: 0;
    }

    .section1__bestVendeur,
.section1__bestCategorie,
.section1__bestProduit
{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px 0
}
}