*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/********************************************       PAGES */
html{
    height: 100vh;
}

/* titre pour les formulaires */

.title{
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

ul li{
    text-decoration: none !important;
}

/* INPUT TEXTE / EMAIL / PASSWORD */

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=select]{

    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2); 
    border:none;
    width: 300px;
    margin-bottom: 20px;

}

/* *******************************************      LOG IN */


/* container login */

.containerLogIn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

/* Mise en forme commune pour les deux div */

.containerLogIn_block{
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
}

/************* div =>  formulaire de connexion */

.containerLogIn_block--form{

    width: 300px;

    display: flex;
    flex-direction: column;
}

/* BOUTON valider */

.bouton{
    padding: 10px;
    
    align-self: flex-start;

    font-weight: bold;
    color: white !important;

    background-color: #E5191E !important;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
    
}
.progress{
    margin-bottom: 20px;
}

/************* div =>  logo YEKREA & SLOGAN */


.containerLogIn_block--logo{
    background-color: #E5191E;
}

img[alt="logo yekrea"]{
    width: 350px;
}

.slogan{
    color: white;

    font-size: 2rem;
}

/* ****************************************************** NAV BARRE */

/* container navigation */
.sidebar{
    padding: 10px 14px;

    position:fixed;
    top:0;
    left: 0;

    height: 100%;
    width: 250px;

    background-color: #E5191E;
    border-radius: 30px;
}
.sidebar header{
    position: relative;
}

.sidebar li{

    display: flex;
    align-items: center;

    list-style-type: none;
}
/* liens de la barre de navigation */
.menu{
    height: 80%;

    margin-top: 100px;

}
.menu li a {
    text-decoration: none;

    margin: 20px 0 ;
    padding: 5px;
    width: 140px;
    
    display: flex;
    align-items: center;

    color: #FFF;
    font-weight: bold;
    font-size: 18px;

    
    
}
.menu li a:hover{
    background-color: #fff;
    color: #000;
}
.menu li a:active{
    background-color: #000;
    color: #FFF;
}


/* lien tableau de bord  */

.dashbord {
    margin: 0;
    padding: 0;

    /* aligne le lien et la barre */
    position: fixed;
    left: 0;
    top: 70px;

    height: 20px;
    width: 250px;

    text-decoration: none;
    background: #FFF;

    display: flex;
}

.dashbord a{
    text-decoration: none;

    padding: 0 70px;
    color: #000;

    font-size: 14px;
    font-weight: bold;

}
/* logo Yekrea */
.imgNav{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Chevron pour réduire la nav */

.sidebar .toggle {
    height : 25px ;
    width : 25px ;

    position : absolute ;
    top : 50%;
    right : -25px ;

    transform : translateY ( -50% ) ;

    background-color: #000;

    display : flex ;
    align-items : center ;
    justify-content : center ;

    border-radius: 50% ;
    color : #FFF;
    font-size:22px; 
}

/* ******************************************************  LANDING */




#landing__container a,
#landing__container h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#landing__container{
    background-color: white;
    min-height: 100vh;
    max-width: 1010px;
    margin: 0 auto;
    box-shadow: 0px 0px 4px 7px #ffffff, 
                0px 0px 11px 24px #ad1216;
}

#landing__title{
    text-align:center;
    padding-top: 20px;
}

#landing__container--user,
#landing__container--admin
{
    width: 90vw;
    min-width: 455px;
    max-width: 1000px;
    margin: 50px auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
    
}

#landing__container--user,
#landing__container--admin
{
    width: 90vw;
    min-width: 300px;
    max-width: 1000px;
    margin: 50px auto;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.landing__pageBloc{
    background-color: #e5191e;
    height:200px;
    width:200px;
    border-radius: 20px;
    display:flex;
    align-items:center;
    justify-content:center;
    transition: color 0.3s ease, background-color 0.3s ease
}
.landing__pageBloc--a{
    text-decoration:none;
    color : white;

}
.landing__pageBloc:hover{
    background-color: black;
    
}

.landing__pageBloc--a:hover{
    color: white;
}





/* ****************************************************** SERVICES */




.containerCard{
    display: flex;
    justify-content: center;
}


/* ************************************************ RESPONSIVE */

@media screen and (max-width: 800px){

    /*****************    LOGIN */

    .containerLogIn{
        display: flex;  
        flex-direction: column;
    }
    /************* div =>  FORMULAIRE CONNEXION */

    #containerLogIn_block--form{
        height: 60vh;
        min-height: 400px;
        
    }
    .containerLogIn_block--form{
        width: 300px;
    }

    /************* div =>  logo YEKREA & SLOGAN de la page de CONNEXION */

    .containerLogIn_block--logo{

        height: 20vh;
        min-height: 120px;     

    }

    img[alt="logo yekrea"]{

        width: 230px;
    }

    .slogan{
        font-size: 1.4rem;
    }

}

@media screen and (max-width:680px) {
    #landing__container--user,
    #landing__container--admin
    {
        width:100vw;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    
    .landing__pageBloc{
        height:150px;
        width:150px;
        margin: 10px 0;
    }

}