*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/********************************************       PAGES */
html{
    height: 100vh;
}

/* titre pour les formulaires */

.title{
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}

ul li{
    text-decoration: none !important;
}

/* INPUT TEXTE / EMAIL / PASSWORD */

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=select]{

    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2); 
    border:none;
    width: 300px;
    margin-bottom: 20px;

}

/* *******************************************      LOG IN */


/* container login */

.containerLogIn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

/* Mise en forme commune pour les deux div */

.containerLogIn_block{
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    
}

/************* div =>  formulaire de connexion */

.containerLogIn_block--form{

    width: 300px;

    display: flex;
    flex-direction: column;
}

/* BOUTON valider */

.bouton{
    padding: 10px;
    
    align-self: flex-start;

    font-weight: bold;
    color: white !important;

    background-color: #E5191E !important;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
    
}
.progress{
    margin-bottom: 20px;
}

/************* div =>  logo YEKREA & SLOGAN */


.containerLogIn_block--logo{
    background-color: #E5191E;
}

img[alt="logo yekrea"]{
    width: 350px;
}

.slogan{
    color: white;

    font-size: 2rem;
}

/* ****************************************************** SERVICES */

.containerCard{
    display: flex;
    justify-content: center;
}


/* ************************************************ RESPONSIVE */

@media screen and (max-width: 800px){

    /*****************    LOGIN */

    .containerLogIn{
        display: flex;  
        flex-direction: column;
    }
    /************* div =>  FORMULAIRE CONNEXION */

    #containerLogIn_block--form{
        height: 60vh;
        min-height: 400px;
        
    }
    .containerLogIn_block--form{
        width: 300px;
    }

    /************* div =>  logo YEKREA & SLOGAN de la page de CONNEXION */

    .containerLogIn_block--logo{

        height: 20vh;
        min-height: 120px;     

    }

    img[alt="logo yekrea"]{

        width: 230px;
    }

    .slogan{
        font-size: 1.4rem;
    }

}