<form method="post" action="{{ path('app_admin_services_detail_delete', {'id': services_detail.id}) }}" onsubmit="return confirm('Êtes-vous sure de vouloir supprimer ce service ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ services_detail.id) }}">
    <button class="btn bouton bouton--supp mb-4">Supprimer</button>
</form>
