{% extends 'base.html.twig' %}

{% block title %}Nouveau ServicesDetail{% endblock %}

{# PAGE POUR CREER UN NOUVEAU SERVICE DETAIL #}
{% block body %}

<div class="containerPages">

    <div class="pages">
        <a class="btn bouton" href="{{ path('app_admin_services_detail_index') }}">Retour</a>

        <h1 class="title">Ajouter un nouveau service détail</h1>

        {# BOUTON pour RETOURNER sur la PAGE INDEX #}
        
        {{ include('admin_services_detail/_form.html.twig') }}

    </div>

</div>
{% endblock %}
