{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Accueil{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div id="landing__container">


        <div id="landing__container--admin">
            <div class="landing__pageBloc">
                <a href="#">Gestion User</a>
            </div>

            <div class="landing__pageBloc">
                <a href="#">Gestion des Client</a>
            </div>
        </div>
        <div id="landing__container--user">
            <div class="landing__pageBloc">
                <a href="#">Nouveau Client</a>
            </div>
            <div class="landing__pageBloc">
                <a href="#">Nouvelle Commande</a>
            </div>
            <div class="landing__pageBloc">
                <a href="#">Historique</a>
            </div>
        </div>
    </div>
{% endblock %}
