{% extends 'base.html.twig' %}

{% block title %}Index notification{% endblock %}

{% block body %}
    <div class="containerPages">
        <div class="pages">
            <h1 class="title">Notifications</h1>

            <div class="table-responsible-sm">
                <table class="table mb-5 tableau">
                    <thead>
                        <tr>
                            <th>Dernières notifications</th>
                            <th>Services</th>
                            <th>Date de création</th>
                            <th style="background-color:transparent !important; "></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
