{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}
{% block styleSheets %}
<style>
    
</style>

{% endblock %}
{% block body %}
    <section id="dashboard__section1">
        <div id="section1__container">
            <h2 class="section1__titleSection">Vue d'ensemble</h2>
            <div>

                <div id="section1__gridContainer">
                    <div id="section1__grid">

                    
                        <div class="section1__lastCommande">
                            <div class="section1__lastCommande--identiteContainer">
                                <h3>Commande n°</h3>
                                <div class="section1__lastCommande--client">Nom du client /Societe</div>
                                <div class="section1__lastCommande--vendeur">Nom du vender</div>
                            </div>
                            <div class="section1__lastCommande--prix">PRIX Final</div>
                            <div class="section1__lastCommande--validation">etat</div>
                            <button>button</button>
                        </div>

                    
                        <div class="section1__lastCommande">
                            <div class="section1__lastCommande--identiteContainer">
                                <h3>Commande n°</h3>
                                <div class="section1__lastCommande--client">Nom du client /Societe</div>
                                <div class="section1__lastCommande--vendeur">Nom du vender</div>
                            </div>
                            <div class="section1__lastCommande--prix">PRIX Final</div>
                            <div class="section1__lastCommande--validation">etat</div>
                            <button>button</button>
                        </div>

                    
                        <div class="section1__lastCommande">
                            <div class="section1__lastCommande--identiteContainer">
                                <h3>Commande n°</h3>
                                <div class="section1__lastCommande--client">Nom du client /Societe</div>
                                <div class="section1__lastCommande--vendeur">Nom du vender</div>
                            </div>
                            <div class="section1__lastCommande--prix">PRIX Final</div>
                            <div class="section1__lastCommande--validation">etat</div>
                            <button>button</button>
                        </div>

                    
                        <div class="section1__lastCommande">
                            <div class="section1__lastCommande--identiteContainer">
                                <h3>Commande n°</h3>
                                <div class="section1__lastCommande--client">Nom du client /Societe</div>
                                <div class="section1__lastCommande--vendeur">Nom du vender</div>
                            </div>
                            <div class="section1__lastCommande--prix">PRIX Final</div>
                            <div class="section1__lastCommande--validation">etat</div>
                            <button>button</button>
                        </div>

                    
                        <div class="section1__lastCommande">
                            <div class="section1__lastCommande--identiteContainer">
                                <h3>Commande n°</h3>
                                <div class="section1__lastCommande--client">Nom du client /Societe</div>
                                <div class="section1__lastCommande--vendeur">Nom du vender</div>
                            </div>
                            <div class="section1__lastCommande--prix">PRIX Final</div>
                            <div class="section1__lastCommande--validation">etat</div>
                            <button>button</button>
                        </div>

                        
                    </div>
                    <div id="section1__voirCommande" ><a href="#"><button>Voir toutes les commandes</button></a></div>
                </div>

                

                <div id="section1__bestContainer">
                    <div class="section1__bestVendeur">
                        <div>
                            <div class="section1__bestVender--item">Commerçant le plus rentable</div>
                            <div class="section1__bestVender--valeur">valeur</div>
                            <a href="" class="section1__voirPlus">voir plus</a>
                        </div>
                        <div>
                            <div class="section1__bestVender--item">Commerçant le plus performant</div>
                            <div class="section1__bestVender--valeur">Valeur</div>
                            <a href="" class="section1__voirPlus">Voir plus</a>
                        </div>
                    </div>
                    <div class="section1__bestCategorie">
                        <div>
                            <div class="section1__bestProduit--item">Categorie la plus rentable</div>
                            <div class="section1__bestProduit--valeur">Valeur</div>
                            <a href="" class="section1__voirPlus">Voir plus</a>
                        </div>
                        <div class="section1__bestCategorie--rentable">
                            <div class="section1__bestProduit--item">Categorie la plus rentable</div>
                            <div class="section1__bestProduit--valeur">Valeur</div>
                            <a href="" class="section1__voirPlus">Voir plus</a>
                        </div>
                    </div>
                    <div class="section1__bestProduit"></div>
                </div>
                



            </div>
        </div>
    </section>

{% endblock %}
